<h1 style= "color: rgb(142, 15, 247) ">Informacion del servidor</h1>
<table class="table table-dark table-striped">
    <tr>
        <td>Argumentos de entrada:</td>
        <td>{{Argumentos_de_entrada}}</td>
    </tr>
    <tr>
        <td>Nombre de la plataforma:</td>
        <td>{{Nombre_de_la_plataforma}}</td>
    </tr>
    <tr>
        <td>Version de node.js:</td>
        <td>{{Version_de_node}}</td>
    </tr>
    <tr>
        <td>Memoria total reservada:</td>
        <td>{{Memoria_total_reservada}}</td>
    </tr>
    <tr>
        <td>Path de ejecución:</td>
        <td>{{Path_de_ejecucion}}</td>
    </tr>
    <tr>
        <td>Process id:</td>
        <td>{{Process_id}}</td>
    </tr>
    <tr>
        <td>Carpeta del proyecto:</td>
        <td>{{Carpeta_del_proyecto}}</td>
    </tr>
    <tr>
        <td>Cantidad de_Procesadores:</td>
        <td>{{Cantidad_de_Procesadores}}</td>
    </tr>
</table>

